<form action="{{url_for('recherche')}}" method="get" name="recherche">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="nom_pays">Nom de l'aire géographique </label>
        {{ form.nom_aire_geographique(class_="form-control", placeholder_="aire geographique") }}
        <small id="aire_geographique" class="form-text text-muted">Entrer tout ou partie du nom d'une aire 
            geographique</small>
    </div>

    <div class="form-group">
        <label for="genre_cinematographique">Genre cinematographique</label>
        {{ form.genre_cinematographique(class_="form-control") }}
        <small id="genre_cinematographique" class="form-text text-muted">Selectionner le genre cinematographique du film</small>
    </div>

    <div class="form-group">
        <label for="langue">Langue du film</label>
        {{ form.langue(class_="form-control") }}
        <small id="langue" class="form-text text-muted">Sélectionner la langue du film (de la séance?)</small>
    </div>

    <p><input type="submit" value="Rechercher"></p>
    <!-- ajouter un formulaire pour les horaires-->
</form>