:root {
    /* Ta charte graphique */
    --vert-fonce: #2b4743; 
    --rouge-brique: #8c3839;
    --rose-fonce: #da7073;
    --rose-clair: #ffd3db;
    
    /* Couleurs neutres pour le texte et le fond */
    --text-dark: #1a1a1a;
    --bg-light: #f8f9fa;
}
