{% extends "layout.html" %}

{% block title %}Register - {{ config['APP_NAME'] }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/log_reg.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="container page">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="container card-container">
                <h1 class="page-title text-center">Créer mon compte</h1>
    
                
                <div class="form-wrapper">
                    <form method="POST">
                        <div class="form-group">
                            <label class="form-label">Nom d'utilisateur</label>
                            <input type="text" name="username" class="form-input" required minlength="3">
                        </div>

                        <div class="form-group">
                            <label class="form-label">Prénom</label>
                            <input type="text" name="nom" class="form-input" required minlength="2">
                        </div>
                        
                        <div class="form-group">
                            <label class="form-label">Adresse email</label>
                            <input type="email" name="email" class="form-input" required>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Date de naissance</label>
                            <input type="date" 
                                   name="date_naissance" 
                                   min="1900-01-01"
                                   class="form-input" 
                                   required>
                        </div>
                        
                        <div class="form-group">
                            <label class="form-label">Mot de passe</label>
                            <input type="password" name="password" class="form-input" required minlength="6">
                        </div>
                        
                        <div class="form-group">
                            <label class="form-label">Confirmer le mot de passe</label>
                            <input type="password" name="password_confirm" class="form-input" required minlength="6">
                        </div>
                        
                        <div class="form-group text-center">
                            <button type="submit" class="btn-action">
                                Inscription
                            </button>
                        </div>
                    </form>
                    
                    <div class="footer text-center">
                        Vous avez déjà un compte? <a href="{{ url_for('users.login') }}" class="link">Connexion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
